apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-app-config
  namespace: {{ k8s_namespace }}
data:
  APP_ENV: "{{ env_name }}"
  SIMULATE_LOAD: "{{ simulate_load }}"
  SIMULATE_LOAD_ITERATIONS: "20000000"
